html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-color: var(--bg-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--text-black);
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Typography */
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: var(--font-h1);
  padding: 0.625em 0 0;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 600;
}

h3 {
  font-weight: 500;
  font-size: var(--font-h3);
}

h4 {
  font-weight: 400;
}

p {
  margin: 0.625em 0 0.125em;
}

.bold-text {
  font-weight: 600;
}

.italic-text {
  font-style: italic;
}

/* Links */

/* Images */
.profile-img {
  max-width: 100%;
}

/* Labels*/

.label {
  padding: 0.55em 1.04em;
  border-radius: var(--border-radius-sm);
  margin: 0;
  font-size: 0.8rem;
  white-space: nowrap;
}

.green {
  background-color: var(--green);
}

.pink {
  background-color: var(--pink);
}

.purple {
  background-color: var(--purple);
}

.yellow {
  background-color: var(--yellow);
}

@media (min-width: 1024px) {
  .label {
    padding: 0.71em 1.63em;
    font-size: 1.15rem;
  }
}
