@import "./variables.css";
@import "./global.css";

/* Page Layout */

/* Main */
.projects-grid {
  margin: 0 auto;
}

.small-text {
  font-size: var(--font-small);
  margin: 1.43em 0;
}

.small-text-grid {
  font-size: var(--font-small);
  margin: 0em 0 1em;
}

/* Links */

.cta-link {
  font-size: var(--font-body);
}

.back-link {
  padding: 0.94em 0 0.625em;
}

.blog-cta-link {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 3px;
  color: var(--text-black);
  text-underline-offset: 0.25em;
}

.cta-link,
.medium-cta-link {
  padding: 20px 0 10px;
}

.cta-link,
.medium-cta-link,
.back-link {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 3px;
  color: var(--text-black);
  display: flex;
  align-items: center;
}

.cta-link:hover,
.medium-cta-link:hover,
.back-link:hover,
.blog-cta-link:hover {
  text-decoration-color: var(--green);
}

.small-cta-link {
  color: var(--text-black);
  display: flex;
  align-items: center;
  padding: 1.25em 0 0.625em;
  text-decoration: none;
}

.small-cta-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: var(--text-black);
}

.small-cta-link .icon,
.medium-cta-link .icon {
  margin: 0 0 0 0.95em;
}

.icon {
  margin: 0 0.95em 0 0;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5em 0.94em 0.625em;
}

nav a {
  text-decoration: none;
  color: var(--text-black);
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav-links a {
  padding-left: 1.875em;
  padding-right: 1.25em;
  cursor: pointer;
  font-size: var(--font-body);
}

.nav-links a:hover:not(.active) {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 3px;
}

.nav-active {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 3px;
  line-height: 1.5;
}

.small-title {
  font-weight: 600;
  font-size: var(--font-body);
  padding: 0 0 0.625em 0;
}

/* Home */
/* Header */

.hero {
  max-width: 90%;
  margin: 0 auto 3.125em;
}

.hero-text {
  max-width: 100%;
  line-height: 1.7;
  font-size: var(--font-body);
}

/* Project Grid */

.sub-text {
  font-size: var(--font-body);
  line-height: 1.7;
  border: none;
}

.project-title {
  margin: 0.7em 0 0.5em;
}

.project-desc {
  line-height: 1.5;
}

/* CSS Grid */

.normal-grid-img,
.wide-grid-img {
  width: 100%;
  border-radius: var(--border-radius-lg);
}

.projects-grid,
.project-details {
  max-width: 90%;
  margin: 0px auto;
  padding: 0 0 3.125em;
}

.blog-details {
  max-width: 90%;
  margin: 0px auto;
  padding: 0 0 3.125em;
}

.project-details,
.blog-details {
  padding-top: 0;
}

.wrapper {
  max-width: 100%;
  margin: 3.125em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper .card {
  padding: 2em 1.5em;
  border-radius: var(--border-radius-lg);
}

/* Background Colours */

.green-bg {
  background-color: var(--green);
}

.pink-bg {
  background-color: var(--pink);
}

.purple-bg {
  background-color: var(--purple);
}

.one,
.four,
.six,
.ten,
.thirteen {
  background-color: var(--green);
}

.two,
.five,
.nine,
.twelve,
.fourteen {
  background-color: var(--pink);
}

.three,
.seven,
.eight,
.eleven,
.fifteen {
  background-color: var(--purple);
}

.one {
  grid-column: 1 / 2;
  grid-row: 1/2;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.three {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.four {
  grid-column: 3;
  grid-row: 2 / 3;
}

.five {
  grid-column: 1;
  grid-row: 3 / 5;
}

.six {
  grid-column: 2;
  grid-row: 3 / 5;
}

.seven {
  grid-column: 3;
  grid-row: 3 / 5;
}

.eight {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.nine {
  grid-column: 3;
  grid-row: 5/ 6;
}

.ten {
  grid-column: 1;
  grid-row: 6/7;
}

.eleven {
  grid-column: 2;
  grid-row: 6/7;
}

.twelve {
  grid-column: 3;
  grid-row: 6/7;
}

.thirteen {
  grid-column: 1;
  grid-row: 7/8;
}

.fourteen {
  grid-column: 2;
  grid-row: 7/8;
}

.fifteen {
  grid-column: 3;
  grid-row: 7/8;
}

/* Project Details Page */

.heading {
  font-size: var(--font-h1);
}

.sub-text,
.overview-text,
.blog-text {
  margin: 0.625em 0 3.75em;
}

.overview-text,
.blog-text,
.blog-bullets {
  font-size: var(--font-body);
  line-height: 1.5;
  border: none;
  margin-bottom: 0;
  max-width: 100%;
}

.blog-bullets li {
  padding: 0.5em 0;
}

.project-img {
  max-width: 100%;
  display: flex;
  margin: 0.94em auto;
}

.project-imgs-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Blogs Pages */

article h2 {
  padding: 0.8em 0 0.11em 0;
}

article h3 {
  padding: 1.2em 0 0.25em 0;
}

#imgs-section {
  display: none;
}

.blog-img {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.25em 0;
}

.blog-img-sm {
  width: 400px;
}

figcaption {
  background-color: var(--text-black);
  color: var(--bg-white);
  font-style: italic;
  font-size: 0.8rem;
  padding: 1em;
  text-align: center;
}

.code-snippet {
  max-width: 100%;
  min-height: 50px;
  margin: 2em 0em 1.25em;
  font-size: var(--font-body);
}

/* About Page */

.about-section,
.education-section,
.job-section,
.skills-section,
.certifications-section {
  max-width: 90%;
  margin: 0 auto 3.125em;
}

.details-section-purple,
.details-section-green,
.details-section-pink {
  max-width: 100%;
  margin: 0.625em 0;
  line-height: 1.7;
  border: none;
}

.detail-sub {
  margin: 0.28em 0 0 0;
  font-size: 1.1rem;
}

/* Skills Labels */

.skills-container {
  list-style: none;
  padding: 0;
}

.skills-container,
.project-skills-container {
  display: flex;
  margin: 1.56em 0 0;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 100%;
}

.pink-label,
.green-label,
.purple-label,
.yellow-label {
  padding: 0.55em 1.04em;
  border-radius: var(--border-radius-sm);
  margin: 0;
  font-size: 0.8rem;
  white-space: nowrap;
}

.pink-label {
  background-color: var(--pink);
}

.green-label {
  background-color: var(--green);
}

.purple-label {
  background-color: var(--purple);
}

.yellow-label {
  background-color: var(--yellow);
}

/* About Page Navbar */

.about-nav {
  max-width: 90%;
  margin: 0 auto 3.125em;
  justify-content: flex-start;
  gap: 12px;
  font-size: var(--font-body);
  flex-direction: row;
  align-items: flex-start;
}

.about-nav a:hover:not(.active) {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 3px;
}

/* Media Queries */

@media (min-width: 1024px) and (max-width: 1445px) {
  h1 {
    font-size: var(--font-h1-lg);
    padding-bottom: 0;
  }
}

@media (min-width: 1830px) {
  .about-section h1,
  .projects-grid h1 {
    font-size: var(--font-h1-lg);
  }

  .about-section .hero-text {
    padding-right: 3.75em;
  }
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .about-section h1 {
    font-size: var(--font-h1);
  }

  .about-section p {
    margin: 0.31em 0;
  }
}

@media (min-width: 1024px) {
  /* Typography */

  /* Links */
  .cta-link {
    font-size: 1.6rem;
    padding: 0.98em 0 0;
  }

  .medium-cta-link {
    font-size: var(--font-medium-cta);
    padding: 1.56em 0 0;
  }

  /* Nav */
  nav {
    margin: 3.75em;
  }

  .nav-links a {
    font-size: var(--font-medium-cta);
    padding-right: 4em;
  }

  /* Home Page */

  .hero,
  .about-section {
    display: flex;
  }

  .hero .hero-text {
    padding-right: 3.75em;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }

  /* About Page */

  .about-section .hero-text {
    padding-right: 20px;
  }

  .about-nav {
    flex-direction: row;
    font-size: var(--font-medium-cta);
    gap: 30px;
  }

  .about-text {
    padding-right: 1.25em;
  }

  .details-section-purple,
  .details-section-green,
  .details-section-pink {
    max-width: 65%;
    margin: 1.875em 0 0 5em;
    line-height: 1.5;
    padding: 0.625em 1.56em;
  }

  .details-section-purple {
    border-left: 3px solid var(--purple);
  }

  .details-section-green {
    border-left: 3px solid var(--green);
  }

  .details-section-pink {
    border-left: 3px solid var(--pink);
  }

  .project-skills-container {
    gap: 10px;
    max-width: 100%;
  }

  .skills-container {
    gap: 30px;
    max-width: 70%;
  }

  .project-skills-container > .pink-label {
    font-size: 0.8rem;
  }
  .project-skills-container > .green-label {
    font-size: 0.8rem;
  }

  .project-skills-container > .yellow-label {
    font-size: 0.8rem;
  }

  .pink-label,
  .green-label,
  .purple-label,
  .yellow-label {
    padding: 0.71em 1.63em;
    font-size: 1.15rem;
  }

  /* Projects */

  .sub-text,
  .overview-text {
    border-left: var(--pink) solid 3px;
    margin: 1.88em 0;
  }

  .overview-text,
  .sub-text {
    padding: 0.625em 1.56em;
  }

  .blog-text {
    padding: 3px 0;
  }

  .heading {
    font-size: var(--font-h1-lg);
  }

  /* Grid */

  .projects-grid {
    max-width: 80%;
  }

  .normal-grid-img {
    width: 70%;
    margin: 0 auto;
    display: flex;
  }

  .wideCard {
    display: flex;
    align-items: center;
  }

  .wide-grid-img {
    width: 50%;
  }

  .wide-inner-content {
    display: flex;
    align-items: start;
  }

  .wider-inner-text {
    padding: 0 1.25em;
  }

  /* Project Details Page */

  .project-img {
    max-width: 33%;
    margin: 2.5em auto;
  }

  .project-imgs-section {
    flex-direction: row;
  }

  /* Blog */

  .blog-details {
    max-width: 70%;
  }

  #imgs-section {
    display: flex;
  }
}

@media (min-width: 1274px) {
  /* Typography */
  .hero h1 {
    font-size: var(--font-h1-xl);
  }

  h2 {
    font-size: 2.25rem;
  }

  .hero-text {
    font-size: var(--font-medium-cta);
  }

  .overview-text,
  .blog-text,
  .blog-bullets {
    font-size: 1.2rem;
  }

  .sub-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1525px) {
  /* CSS GRID - two columns */

  .wide-inner-content {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .wider-inner-text {
    padding: 0;
  }

  .wide-grid-img,
  .normal-grid-img {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .one {
    grid-column: 1 / 3;
    grid-row: 1/2;
  }

  .two {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }

  .four {
    grid-column: 3/5;
    grid-row: 2 / 3;
  }

  .five {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }

  .six {
    grid-column: 3/5;
    grid-row: 3 / 5;
  }

  .seven {
    grid-column: 1/3;
    grid-row: 5/7;
  }

  .eight {
    grid-column: 3/5;
    grid-row: 5/7;
  }

  .nine {
    grid-column: 1/3;
    grid-row: 7/9;
  }

  .ten {
    grid-column: 3/5;
    grid-row: 7/9;
  }
  .eleven {
    grid-column: 1/3;
    grid-row: 9/11;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .wrapper > section {
    grid-column: auto;
    grid-row: auto;
  }
}
