@import "./variables.css";
@import "./global.css";
@import "./grid.css";

/* Page Layout */ /* Main */

/* Project Details Page */

.subText,
.overview-text,
.blog-text {
  margin: 0.625em 0 3.75em;
}

.overview-text,
.blog-text,
.blog-bullets {
  font-size: var(--font-body);
  line-height: 1.5;
  border: none;
  margin-bottom: 0;
  max-width: 100%;
}

.blog-bullets li {
  padding: 0.5em 0;
}

.featureImg {
  max-width: 100%;
  display: flex;
  margin: 0.94em auto;
}

.featureImgSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Blogs Pages */

article h2 {
  padding: 0.8em 0 0.11em 0;
}

article h3 {
  padding: 1.2em 0 0.25em 0;
}

#imgs-section {
  display: none;
}

.blog-img {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.25em 0;
}

.blog-img-sm {
  width: 400px;
}

figcaption {
  background-color: var(--text-black);
  color: var(--bg-white);
  font-style: italic;
  font-size: 0.8rem;
  padding: 1em;
  text-align: center;
}

.code-snippet {
  max-width: 100%;
  min-height: 50px;
  margin: 2em 0em 1.25em;
  font-size: var(--font-body);
}

/* About Page */

/* Skills Labels */

.skills-container {
  list-style: none;
  padding: 0;
}

.skills-container,
.project-skills-container {
  display: flex;
  margin: 1.56em 0 0;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 100%;
}

/* About Page Navbar */

/* Media Queries */

@media (min-width: 1024px) {
  .project-skills-container {
    gap: 10px;
    max-width: 100%;
  }

  .skills-container {
    gap: 30px;
    max-width: 70%;
  }

  .project-skills-container > .pink {
    font-size: 0.8rem;
  }
  .project-skills-container > .green {
    font-size: 0.8rem;
  }

  .project-skills-container > .yellow {
    font-size: 0.8rem;
  }

  /* Projects */

  .subText,
  .overview-text {
    border-left: var(--pink) solid 3px;
    margin: 1.88em 0;
    padding: 0.625em 1.56em;
  }

  .blog-text {
    padding: 3px 0;
  }

  /* Blog */

  .article {
    max-width: 70%;
  }

  #imgs-section {
    display: flex;
  }
}

@media (min-width: 1274px) {
  /* Typography */

  h2 {
    font-size: 2.25rem;
  }

  .overview-text,
  .blog-text,
  .blog-bullets {
    font-size: 1.2rem;
  }

  .subText {
    font-size: 1.2rem;
  }
}
