html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Page Layout */
body {
    margin: 0 auto;
    background-color: #fbfcf8;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #18191A;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;
}

/* Main */
main {
    margin: 0 auto;
}

/* Typography */
h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    font-size: 2rem;
    padding: 20px 0 0;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
}

h3 {
    padding: 20px 0 0 0;
    font-weight: 600;
    font-size: 1.5rem;
}

h4 {
    font-weight: 400;
}

p {
    margin: 10px 0 2px;
}

.small-text {
    font-size: 14px;
    margin: 0;
}

.sub-text,
.overview-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 30px 0 60px;
    border-left: #EBB1DC solid 3px;
    padding: 10px 25px;
}

.overview-text {
    margin-bottom: 0px;
}

.heading {
    font-size: 2.8rem;
}

/* Links */

.cta-link {
    font-size: 1rem;
}

.cta-link,
.medium-cta-link,
.back-link {
    text-decoration: underline;
    text-decoration-color: #EBB1DC;
    text-decoration-thickness: 3px;
    color: #18191A;
    display: flex;
    align-items: center;
    padding: 0px 0 10px;
}

.cta-link:hover,
.medium-cta-link:hover,
.back-link:hover {
    text-decoration-color: #B1EBC0;
}


.small-cta-link {
    color: #18191A;
    display: flex;
    align-items: center;
    padding: 0px 0 10px;
}

.small-cta-link {
    text-decoration: none;
}

.small-cta-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: #18191A;
}

.icon {
    margin: 0 15px;

}

/* Navbar */

.logo {
    font-weight: 600;
    font-size: 1rem;
    background-color: #EBB1DC;
    border-radius: 3px;
    padding: 10px;
}

.logo:hover:not(.active) {
    background-color: #B1EBC0;
}

nav,
.sticky {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.nav-links a {
    padding-left: 30px;
    padding-right: 80px;
    cursor: pointer;
    font-size: 1.25rem;
}

.nav-links a:hover:not(.active) {
    text-decoration: underline;
    text-decoration-color: #B1EBC0;
    text-decoration-thickness: 3px;
}


.nav-active {
    text-decoration: underline;
    text-decoration-color: #EBB1DC;
    text-decoration-thickness: 3px;
    line-height: 1.5;
}



/* About Page Navbar */

.about-nav {
    max-width: 80%;
    margin: 0 auto 50px;
    justify-content: flex-start;
    gap: 40px;
    font-size: 1.25rem;
}

.about-nav a:hover:not(.active) {
    text-decoration: underline;
    text-decoration-color: #B1EBC0;
    text-decoration-thickness: 3px;
}

/* Header */

header {
    max-width: 80%;
    margin: 0 auto 50px;
}

.hero-text {
    max-width: 100%;
    line-height: 1.7;
    font-size: 1rem;
}

.profile-img {
    max-width: 100%;
}

/* Footer */
footer {
    max-width: 100%;
    background-color: #F8E6F3;
    padding: 150px 0;
    margin: 200px 0 0;
}

.footer-logo {
    font-weight: 600;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.small-title {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 0 0 10px 0;
}

.footer-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
}

.footer-about,
.footer-socials {
    max-width: 50%;
    border-left: #EBB1DC solid 3px;
    padding: 20px 25px;
}



.footer-about p,
.footer-socials p {
    max-width: 80%;
    margin: 0;
}


.social-icons-container {
    font-size: 1.5rem;
}

.social-icon {
    font-size: 2rem;
    color: #18191A;
    margin: 15px 10px 0 0;
    text-decoration: none;
}

a[href^="mailto:"] {
    text-decoration: none;
}

.rights-decl {
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 20px 0;
}


/* About Page */

.about-section,
.education-section,
.job-section,
.skills-section,
.certifications-section {
    max-width: 80%;
    margin: 0 auto 50px;
}

.details-section-purple,
.details-section-green,
.details-section-pink {
    max-width: 65%;
    margin: 30px 0 0 80px;
    line-height: 1.5;
    padding: 10px 25px;
}

.details-section-purple {
    border-left: 3px solid #D1CFFF;
}

.details-section-green {
    border-left: 3px solid #B1EBC0;
}

.details-section-pink {
    border-left: 3px solid #EBB1DC;
}

.detail-sub {
    margin: 5px 0 0 0;
    font-size: 1.1rem;
}

/* Skills Labels */

.skills-container {
    max-width: 50%;
    display: flex;
    margin: 25px 0;
    justify-content: flex-start;
    gap: 30px
}

.pink-label,
.green-label,
.purple-label {
    padding: 13px 30px;
    border-radius: 6px;
    margin: 0;
    font-size: 1.15rem;
    white-space: nowrap;
}

.pink-label {
    background-color: #EBB1DC;
}

.green-label {
    background-color: #B1EBC0;
}

.purple-label {
    background-color: #D1CFFF;
}

/* Project Details Page */

.hero-img {
    display: flex;
    margin: 40px auto;
    max-width: 100%;
    padding: 0 25px;

}

/* Project Page */
/* CSS Grid */

.normal-grid-img,
.wide-grid-img {
    width: 100%;
}

.projects-grid,
.project-details {
    max-width: 80%;
    margin: 0px auto;
    padding: 50px 0;
}

.project-details {
    padding-top: 0;
}

.wrapper {
    max-width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper .card {
    padding: 2em 1.5em;
    border-radius: 5px;
}

.one,
.four,
.six {
    background-color: #B1EBC0;
}

.two,
.five,
.nine {
    background-color: #EBB1DC;
}

.three,
.seven,
.eight {
    background-color: #D1CFFF
}

.one {
    grid-column: 1 / 2;
    grid-row: 1/3;

}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;

}

.three {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.four {
    grid-column: 3;
    grid-row: 3 / 5;
}

.five {
    grid-column: 1;
    grid-row: 4 / 7;
}

.six {
    grid-column: 2;
    grid-row: 4 / 7;
}

.seven {
    grid-column: 3;
    grid-row: 5 / 7
}

.eight {
    grid-column: 1 / 3;
    grid-row: 7 / 10;
}

.nine {
    grid-column: 3 / 3;
    grid-row: 7/ 10;
}






/* Media Queries */

@media (min-width:1024px) and (max-width:1445px) {

    h1 {
        font-size: 2.8rem;
        padding-bottom: 0;
    }

    header,
    .about-section {
        max-width: 80%;
    }
}


@media (min-width:1024px) and (max-width:1829px) {
    .about-section h1 {
        font-size: 2.8rem;
        padding-bottom: 0;
    }
}

@media (min-width: 1830px) {
    .about-section h1 {
        font-size: 2.8rem;
    }

    .about-section .hero-text {
        padding-right: 60px;
    }
}

@media (min-width:1024px) and (max-width:1499px) {
    .about-section .hero-text {
        line-height: 1.5;
        font-size: 1rem;
    }

    .about-section h1 {
        font-size: 2rem;
    }

    .about-section p {
        margin: 5px 0;
    }
}

@media (min-width: 1024px) {
    .logo {
        font-size: 1.5rem;
    }

    nav {
        font-size: 1.15rem;
    }

    header,
    .about-section {
        display: flex;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

    .about-section .hero-text {
        padding-right: 20px;
    }


    header .hero-text {
        padding-right: 60px;
    }

    .about-text {
        padding-right: 20px;
    }

    .profile-img {
        max-width: 40%;
    }

    .cta-link {
        font-size: 1.6rem;
        padding: 40px 0 0;
    }

    .medium-cta-link {
        font-size: 1.25rem;
        padding: 40px 0 0;
    }


    .normal-grid-img {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .wide-grid-img {
        width: 60%;
        padding: 10px;
    }

    .wide-inner-content {
        display: flex;
        align-items: start;
    }

    .wider-inner-text {
        padding: 0 20px;
    }


}

@media (min-width: 1274px) {
    header h1 {
        font-size: 4rem;
    }

    .hero-text {
        font-size: 1.25rem;
    }
}

@media (min-width:1024px) and (max-width:1525px) {
    .wide-inner-content {
        flex-direction: column;
    }

    .wider-inner-text {
        padding: 0;
    }
}



@media (max-width: 1023px) {
    .wrapper {
        grid-template-columns: 1fr;
        /* Stacks all items in a single column */
        grid-auto-rows: auto;
        /* Automatically adjust row height */
    }

    .wrapper>div {
        grid-column: auto;
        grid-row: auto;

    }
}