html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Page Layout */
body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #fbfcf8;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #18191A;
}

/* Main */
main {
    margin: 0 auto;
}

/* Typography */
h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    font-size: 2rem;
    padding: 20px 0 0;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
}

h3 {
    padding: 20px 0 0 0;
    font-weight: 600;
    font-size: 1.5rem;
}

h4 {
    font-weight: 400;
}

p {
    margin: 15px 0 25px;
}

.small-text {
    font-size: 14px;
    margin: 0;
}


/* Navbar */

.logo {
    font-weight: 600;
    font-size: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.nav-links a {
    padding-left: 30px;
    padding-right: 80px;
    cursor: pointer;
    font-size: 1.25rem;
}

.nav-active {
    text-decoration: underline;
    text-decoration-color: #EBB1DC;
    text-decoration-thickness: 3px;
    line-height: 1.5;

}

/* About Page Navbar */

.about-nav {
    max-width: 80%;
    margin: 0 auto 50px;
    justify-content: flex-start;
    gap: 40px;
    font-size: 1.25rem;
}

/* Header */

header {
    max-width: 80%;
    margin: 0 auto 50px;
}

.hero-text {
    max-width: 100%;
    line-height: 1.7;
    font-size: 1rem;
}

.profile-img {
    max-width: 100%;
}



/* About Page */

.about-section,
.education-section,
.job-section,
.skills-section,
.certifications-section {
    max-width: 80%;
    margin: 0 auto 50px;
}

.details-section-1,
.details-section-2 {
    max-width: 65%;
    margin: 30px 0 0 80px;
    line-height: 1.5;
    padding: 10px 25px;
}

.details-section-1 {
    border-left: 3px solid #D1CFFF;
}

.details-section-2 {
    border-left: 3px solid #B1EBC0;
}

.detail-sub {
    margin: 5px 0 0 0;
    font-size: 1.1rem;
}



/* Media Queries */

@media (min-width:1024px) and (max-width:1445px) {

    h1 {
        font-size: 2.8rem;
        padding-bottom: 0;
    }

    header,
    .about-section {
        max-width: 80%;
    }
}


@media (min-width:1024px) and (max-width:1829px) {
    .about-section h1 {
        font-size: 2.8rem;
        padding-bottom: 0;
    }
}

@media (min-width: 1830px) {
    .about-section h1 {
        font-size: 2.8rem;
    }

    .about-section .hero-text {
        padding-right: 60px;
    }
}

@media (min-width:1024px) and (max-width:1499px) {
    .about-section .hero-text {
        line-height: 1.5;
        font-size: 1rem;
    }

    .about-section h1 {
        font-size: 2rem;
    }

    .about-section p {
        margin: 10px 0;
    }
}

@media (min-width: 1024px) {
    .logo {
        font-size: 1.5rem;
    }

    nav {
        font-size: 1.15rem;
    }

    header,
    .about-section {
        display: flex;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

    .about-section .hero-text {
        padding-right: 20px;
    }


    header .hero-text {
        padding-right: 60px;
    }

    .about-text {
        padding-right: 20px;
    }

    .profile-img {
        max-width: 40%;
    }

}

@media (min-width: 1274px) {
    header h1 {
        font-size: 4rem;
    }

    .hero-text {
        font-size: 1.25rem;
    }
}